version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20
    labels:
      - dependencies
    commit-message:
      prefix: "chore(deps)"

  - package-ecosystem: "npm"
    directory: "/web/frontend"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20
    labels:
      - dependencies
      - frontend
    groups:
      minor-and-patch:
        update-types:
          - "minor"
          - "patch"
    commit-message:
      prefix: "chore(deps)"

  - package-ecosystem: "npm"
    directory: "/web/backend"
    schedule:
      interval: "daily"
    open-pull-requests-limit: 20
    labels:
      - dependencies
      - backend
    groups:
      minor-and-patch:
        update-types:
          - "minor"
          - "patch"
    commit-message:
      prefix: "chore(deps)"
